.playing-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


.player-marker {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}


.div-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}